.DS_Store
Thumbs.db
*.sql
.idea/

*.log
log.txt

upload/*
bitrix/stack_cache/
bitrix/backup/
bitrix/cache/
bitrix/image_uploader/
bitrix/images/
bitrix/managed_cache/
bitrix/php_interface/dbconn.php
bitrix/tmp/
bitrix/wizards/
bitrix/.access.php
bitrix/.settings.php
bitrix/coupon_activation.php
bitrix/license_key.php
bitrix/site_checker*.log
bitrix/spread.php
log
bitrix/html_pages/
