.navigation{
    text-align: right;
    margin: 10px 0 0px 0;
    padding: 0px 0px 3px 0px;
    font-size: 16px;
    color: #a1a1a1;
    border-bottom: 1px solid #e4e4e4;
    box-shadow: 0px 1px 1px #f1f1f1;
}

.navigation a{
	text-decoration: none;
	color: #a1a1a1 !important;
	font-size: 16px;
}


